// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

/*! PUT YOU STYLE HERE TO AVOID GETTING REMOVING BY PURGECSS. */

/*! purgecss end ignore */

.countdown-timer {
  text-align: center;
  margin-bottom: 1rem;
  & li {
    display: inline-block;
    font-size: 1.25rem;
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;
    & span {
      font-size: 2.5rem;
    }
  }
  @media all and (max-width: 768px) {
      li {
        font-size: calc(1.125rem * var(--smaller));
      }
      li span {
        font-size: calc(3.375rem * var(--smaller));
      }
    }
}
