{{- $isoformat := "2006-01-02T15:04:05Z0700" }}
{{- $page := .Page }}
{{- $id := print "add-to-calendar-" (delimit (shuffle (seq 1 9)) "") }}
{{- $title := $page.Title }}
{{- $start_date := $page.Date }}
{{- $end_date := $page.Params.endDate }}
{{- $description := $page.Description | default $page.Summary | plainify }}
{{- $url := $page.Permalink }}
{{- $location := delimit (slice $page.Params.location.title $page.Params.location.address) "\n" }}
{{- if $end_date }}
  {{- $end_date = time.AsTime $end_date | time }}
{{- end }}
<add-to-calendar-button
  name="{{ $title }}"
  description="{{ replace  $description "\n" "[br]" }}"
{{- if $location }}
  location="{{ replace $location "\n" ", " }}"
{{- end }}
  startDate="{{ $start_date.Format "2006-01-02" }}"
  startTime="{{ $start_date.Format "15:04" }}"
{{- if $end_date }}
  endDate="{{ $end_date.Format "2006-01-02" }}"
  endTime="{{ $end_date.Format "15:04" }}"
{{- end }}
  url="{{ $url }}"
  options="'Apple','Google','iCal','Outlook.com','Yahoo'"
  icalFileName="{{ $title | anchorize }}"
  timeZone="Etc/GMT{{ $start_date.Format "+7" }}"
  buttonStyle="date"
  size="3"
  lightMode="bodyScheme"
  hideBranding
></add-to-calendar-button>
<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>
