{{- $isoformat := "2006-01-02T15:04:05Z0700" }}
{{- $page := .Page }}
{{- $id := print "add-to-calendar-" (delimit (shuffle (seq 1 9)) "") }}
{{- $title := $page.Title }}
{{- $start_date := $page.Date }}
{{- $end_date := $page.Params.endDate }}
{{- $description := $page.Description | default $page.Summary | plainify }}
{{- $url := $page.Permalink }}
{{- $location := $page.Params.location.title }}
{{- with $page.Params.location.address }}
  {{- $location = printf "%s\n%s" $location . }}
{{- end }}
{{- if $end_date }}
  {{- $end_date = time.AsTime $end_date | time }}
{{- end }}
{{/* this stupidity is because add-to-calendar does not understand numeric timeoffsets */}}
{{- $timeOffset := $start_date.Format "-0700" }}
{{- $timeSign := cond (strings.Contains $timeOffset "-") "+" "-" }}
{{- $timeOffset = int (strings.TrimLeft "0-" $timeOffset) }}
{{- $timeOffset = printf "Etc/GMT%s%d" $timeSign (div (int $timeOffset) 100) }}
<add-to-calendar-button
  name="{{ $title }}"
  description="{{ replace  $description "\n" "[br]" }}"
{{- if $location }}
  location="{{ replace $location "\n" ", " }}"
{{- end }}
  startDate="{{ $start_date.Format "2006-01-02" }}"
  startTime="{{ $start_date.Format "15:04" }}"
{{- if $end_date }}
  endDate="{{ $end_date.Format "2006-01-02" }}"
  endTime="{{ $end_date.Format "15:04" }}"
{{- end }}
  url="{{ $url }}"
  options="'Apple','Google','iCal','Outlook.com','Yahoo'"
  icalFileName="{{ $title | anchorize }}"
  timeZone="America/Los_Angeles"
  buttonStyle="date"
  size="6"
  lightMode="bodyScheme"
  hideBranding
></add-to-calendar-button>
