{{- $id := print "countdown-timer-" (delimit (shuffle (seq 1 9)) "") }}
<div class="countdown-timer {{ .class }}" id="{{ $id }}">
    <div class="countdown-active">
      <ul>
        <li><span class="days"></span> Days</li>
        <li><span class="hours"></span> Hours</li>
        <li><span class="minutes"></span> Minutes</li>
{{- if .seconds }}
        <li><span class="seconds"></span> Seconds</li>
{{- end }}
      </ul>
    </div>
    <div class="countdown-done" style="display:none;">{{ .completed_text  }}</div>
</div>
<script>
(function () {
    const second = 1000,
          minute = second * 60,
          hour = minute * 60,
          day = hour * 24;
    const countDown = new Date('{{ dateFormat "02 Jan 2006 15:04:05 -0700" .target_date }}').getTime();

    (function update() {
        const now = new Date().getTime(),
        distance = countDown - now,
        el = document.getElementById('{{ $id }}');
        el.querySelector(".days").innerText = Math.floor(distance / (day));
        el.querySelector(".hours").innerText = Math.floor((distance % (day)) / (hour));
        el.querySelector(".minutes").innerText = Math.floor((distance % (hour)) / (minute));
{{- if .seconds }}
        el.querySelector(".seconds").innerText = Math.floor((distance % (minute)) / second);
{{- end }}

        // when date has passed...
        if (distance >= 0)
            setTimeout(update, second);
        else {
{{- if not .completed_text }}
            el.style.display = "none";
{{- end }}
            el.querySelector(".countdown-active").style.display = "none";
            el.querySelector(".countdown-done").style.display = "block";
        }
    })();
}());
</script>

