{{/* from fullcalendar.io */}}
{{- $context := . }}
{{- $page := $context.page }}
{{- $isoformat := "2006-01-02T15:04:05Z0700" }}
{{- $id := print "ics-" (delimit (shuffle (seq 1 9)) "") }}
{{- $end_date := default nil $page.Params.endDate }}
{{- $pageEventSources :=  slice }}
{{- with $page.Params.fullcalendar.eventsources }}
    {{- $pageEventSources = . }}
{{- end }}
{{- $extraData := dict }}
{{- with $context.data }}
    {{- $extraData = $page.Resources.Get . | transform.Unmarshal }}
{{- end }}
{{- $view := $context.view | default "dayGridMonth" }}
{{- $defaults := dict
    "themeSystem" "bootstrap5"
    "views" (dict
        "dayGrid" (dict
            "displayEventEnd" true))
    "headerToolbar" (dict
        "left" "prev,next"
        "center" "title"
        "right" "dayGridMonth,timeGridWeek")
    "initialDate" ($page.Date.Format $isoformat)
    "initialView" $view
}}
{{- $pageEvent := dict
    "title" $page.Title
    "start" ($page.Date.Format $isoformat)
}}
{{- if $end_date }}
    {{- $pageEvent = merge $pageEvent (dict
            "end" (($end_date | time).Format $isoformat)
    )}}
{{- end }}
{{- $pageEvent = (dict "events" (slice $pageEvent)) }}
{{- $pageEventSources = (dict "eventSources" $pageEventSources) }}
{{- $merged := merge $defaults $pageEvent $pageEventSources $extraData }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var calendarEl = document.getElementById("{{ $id }}");
    var calendar = new FullCalendar.Calendar(calendarEl, {{ $merged }});
    calendar.render();
});
</script>
<div class="shadow p-3 my-5 bg-body border rounded">
    <div id="{{ $id }}" class="fullcalendar"></div>
</div>
