{{- $page := $.Page }}
{{- $cache := default false (.Get `cache`) }}
{{- $url := default $page.Params.gpxfile (cond .IsNamedParams (.Get `gpx`) (.Get 0)) }}
{{- if not $url }}
    {{- errorf "%s: %q shortcode: no GPX file or URL specified" .Position .Name }}
{{- end }}
{{- if findRE `(?i)https?://` $url }}
    {{- with resources.GetRemote $url }}
        {{- with .Err }}
            {{- errorf "%s: %q shortcode: %s: $s" $page.Position $page.Name $url . }}
        {{- else }}
            {{ if $cache }}
                {{- $url = .Permalink }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- else }}
    {{- with $page.Resources.Get $url }}
        {{- $url = .Permalink }}
    {{- else }}
        {{ errorf "%s: %q shortcode: unable to get GPX file" .Position .Name }}
    {{- end }}
{{- end }}
{{- with $url }}
    {{ . }}
{{- else }}
    {{- errorf "%s: %q shortcode: no GPX file or URL specified" .Position .Name }}
{{- end }}
