{{- $width := default "100%" (.Get `width`) }}
{{- $height := default 600 (.Get `height`) }}
{{- $class := default "interactive-map" (.Get `class`)}}
{{- $gpx := default ($.Page.Params.gpxfile) (.Get `gpx`) }}
{{- with $gpx }}
    {{- with $.Page.Resources.Get . }}
<figure class="{{ $class }}">
    <iframe width="{{ $width }}" height="{{ $height }}"
            src="https://gpsvisualizer.com/atlas/map?cc=0&mc=0&wl=0&url={{ .Permalink }}">
    </iframe>
    <figcaption><a target="_blank" href="https://gpsvisualizer.com/atlas/map?url={{ .Permalink }}">Interactive Map</a></figcaption>
</figure>
    {{- else }}
        {{ errorf "%s: %q shortcode: unable to get GPX resource" $.Position $.Name }}
    {{- end }}
{{- else }}
  {{- errorf "%s: %q shortcode: no GPX file specified" .Position .Name }}
{{- end }}
