{{- $isoformat := "2006-01-02T15:04:05Z0700" }}
{{- $id := print "ics-" (delimit (shuffle (seq 1 9)) "") }}
{{- $page := .Page }}
{{- $title := $page.Title }}
{{- $date := $page.Date.Format $isoformat }}
{{- $endDate := $page.Params.endDate }}
{{- $address := $page.Params.start }}
{{- $summary := $page.Summary }}
{{- $description := $page.Description }}
{{- $url := $page.Permalink }}
{{- if $endDate }}
  {{- $endDate = time.AsTime $endDate | time.Format $isoformat }}
{{- end }}
<button type="button" class="btn btn-info" id="{{ $id }}">Calendar Entry</button>
<script type="module">
'use strict';
import ical from 'https://cdn.jsdelivr.net/npm/ical-generator@6.0.1/+esm';

async function handleDownload(e) {
  e.preventDefault();
  const filename = '{{ $title | anchorize }}.ics';
  const file = await new Promise((resolve, reject) => {
      const cal = ical();
      const event = cal.createEvent({
          start: "{{ $date }}",
          end: "{{ $endDate }}",
          summary: "{{ $title }}",
          description: "{{ $description | default $summary }}",
          organizer: 'Goat Trail Junkies <goattrails@noreply.github.com>',
          url: '{{ $url }}',
          location: {{ $address.location }},
     });
     // event.description('It still works ;)');
     resolve(new File([cal.toString()], filename, { type: 'text/calendar' }));
  });

  const url = URL.createObjectURL(file);

  // trying to assign the file URL to a window could cause cross-site
  // issues so this is a workaround using HTML5
  const anchor = document.createElement('a');
  anchor.href = url;
  anchor.download = filename;

  document.body.appendChild(anchor);
  anchor.click();
  document.body.removeChild(anchor);

  URL.revokeObjectURL(url);
};
document.querySelector('#{{ $id }}').addEventListener('click', handleDownload);
</script>